<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1 class="text-center">Create your profile</h1>
            <p1 class="text-center">Lorem ipsum dolor sit amet, consectetur 
            adipisicing elit. Sequi, 
            laboriosam, sit, illo, at ipsa quae corporis consequuntur ducimus sint 
            facilis iure quisquam quibusdam minus! Nulla nemo similique architecto 
            earum autem.</p1>
            <div class="well">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</div>
<!--%= debug(params) if Rails.env.development? %-->