<div class="container text-center">
    <h2>About page</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, eos, quas,
        ab, dolorum necessitatibus nam hic incidunt et rem ullam eius distinctio 
        corporis culpa iusto nesciunt expedita enim tenetur officiis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora,
        velit, doloribus, magni at consequuntur soluta sapiente sit adipisci 
        quis tenetur expedita illum veniam nisi obcaecati odit aliquid amet 
        provident eos.
    </p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, eos, quas,
        ab, dolorum necessitatibus nam hic incidunt et rem ullam eius distinctio 
        corporis culpa iusto nesciunt expedita enim tenetur officiis!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora,
        velit, doloribus, magni at consequuntur soluta sapiente sit adipisci 
        quis tenetur expedita illum veniam nisi obcaecati odit aliquid amet 
        provident eos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
       
    </p>    
</div>