<!DOCTYPE html>
<html>
    <head></head>
        <body>
            <p>
                Contact form email received from 
                <%= "#{@name}, #{@email}:" %>
                <p><%= @body %></p>
            </p>
        </body>
</html>