.avatar-show-img {
    width: 128px;
}

.well.profile-block {
    color: #fff;
    
    h3 {
        margin-top: 0;
    }
}

.well.profile-description {
    background-color: #777999;
    border-color: #4ca4cc;
}

.well.profile-contact-info {
    background-color: #5bc0dd;
    border-color: #46bccc;
}